Aulas/
Listas/
Referências/
.idea/
./venv
./__pycache__/
lista1/CristiellenMarioMarlene/venv
lista1/CristiellenMarioMarlene/__pycache__
lista2/AdrieleMario/venv
lista3/AdrieleMario/quest2/__pycache__/
lista2/AdrieleMario/__pycache__
lista2/AdrieleMario/quest2_adriele/src/__pycache__/
lista3/AdrieleMario/venv
lista3/AdrieleMario/venv
lista3/AdrieleMario/__pycache__/
lista2/AdrieleMario/quest1_mario/__pycache__/
lista2/AdrieleMario/quest2_adriele/__pycache__/
